<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css/' %}">

</head>


<style>
    body{
        background-color: #52ACFF;
        background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);



    }
    .detail__img{
        height: 500px;
        width: 500px;
        margin-left: 300px;


    }
    .shows__container{
        object-fit: fill;
    }
    .btn-primary{
        height: 40px;
    }

    .butons{


    }
</style>
<div class="container butons">
    <a href="/bookshow/" type="button" class="btn btn-outline-success">Back</a>
    <a href="/bookshow/{{show.id}}/update/" class="btn btn-outline-success show_button">Update</a>
    <a href="/bookshow/{{show.id}}/delete/" class="btn btn-outline-success show_button">Delete</a>
</div>

<div class="container shows__container">
        <img src="{{show.img.url}}" class="detail__img" alt="">
        <h2>{{show.title}}</h2>
        <p>{{show.description}}</p>
        <p>{{show.author}}</p>
        <p>{{show.genre}}</p>
        <p>{{show.tom}}</p>
        <p>{{show.created_date}}</p>
        <p>{{show.updated_date}}</p>

 </div>
</body>
</html>